services:
  route:
    image: ubuntu:latest 
    command: route
    ports:
      - "{{ http_port | default(8003) }}:80"
    volumes:
      - /bin:/bin
      - ./config.toml:/config.toml
    depends_on:
      - osrm-backend

  osrm-backend:
    image: ghcr.io/project-osrm/osrm-backend
    command: osrm-routed --algorithm mld /data/{{ REGION }}.osrm
    volumes:
      - /data/osrm:/data

  cache: 
    image: redis:alpine
    command: redis-server --appendonly no --maxmemory 16gb --save 300 1 --maxmemory-policy allkeys-lru
    ports:
      - "6379:6379"
    volumes:
      - redis-db:/data

volumes:
  redis-db:
    external: true
