services:
  tiles:
    image: ubuntu:latest
    command: tiles
    ports:
      - "{{ http_port | default(8002) }}:80"
    volumes:
      - /bin:/bin
      - ./config.toml:/config.toml
    depends_on:
      - tileserver

  tileserver:
    image: maptiler/tileserver-gl:latest
    ports:
      - "8080:8080"
    volumes:
      - /data/tiles:/data/tiles
      - /data/tileserver:/data
