services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      #- tiles-cache:/var/cache/nginx/tileserver
    depends_on: 
      - tiles
      - tileserver
    ulimits:
      nofile:
          soft: 65536
          hard: 65536

  tiles:
    image: ubuntu:latest
    command: tiles
    ports:
      - "{{ http_port | default(8002) }}:80"
    volumes:
      - /bin:/bin
      - ./config.toml:/config.toml
    depends_on:
      - tileserver
    ulimits:
      nofile:
          soft: 65536
          hard: 65536

  tileserver:
    image: maptiler/tileserver-gl:latest
    ports:
      - "8080:8080"
    volumes:
      - /data/tiles:/data/tiles
      - /data/tileserver:/data
    ulimits:
      nofile:
          soft: 65536
          hard: 65536

#volumes:
#  tiles-cache:
#    external: true