# http things
ip = [0, 0, 0, 0]
http_port = 8000 
domain = "{{ DOMAIN | default(hostvars['nginx']['ansible_host']) }}" 

# email stuff
relay_ip = [130, 245, 171, 151]
relay_port = 11587

# urls for services (trailing slash significant!)
search_url = "http://localhost:2322/api"
address_url = "http://localhost:8080"
tile_url = "http://localhost:8081/styles/osm-bright/256/"
turn_url = "http://localhost:8081/styles/osm-bright/static/"
routing_url = "http://localhost:5000/route/v1/driving/"

# for submission
submission_id = "{{ SUBMISSION_ID | default('FIX_ME') }}"
