# http things
ip = [0, 0, 0, 0]
http_port = 80
domain = "{{ DOMAIN | default(hostvars['nginx']['ansible_host']) }}" 

# email stuff
relay_ip = [130, 245, 171, 151]
relay_port = 11587

# urls for services (trailing slash significant!)
db_url = "postgres://renderer:renderer@database:5432/gis"
tile_url = "http://tileserver:8080/styles/osm-bright/256/"
turn_url = "http://tileserver:8080/styles/osm-bright/static/"
route_url = "http://osrm-backend:5000/route/v1/driving/"

# for submission
submission_id = "{{ SUBMISSION_ID | default('FIX_ME') }}"
